@import "tailwindcss";

@theme{
    --color-si-orange: #F07F1B;
    --color-si-green: #008941;
    --color-si-red: #E31E25;
    --color-si-gray: #5C6169;
    --color-si-light-gray: #E4E6E8;
    --color-si-light: #F5F6F7;

}